body { 
    background-color: lightblue;
}

.label {
    margin-left: 25px;
}

#sort-form {
    margin-left: 20px;
    margin-bottom: 20px;
}

.studentNameLabel {
    margin-right: 15px;
}

.student-body {
    margin-bottom: 15px;
}

.card {
    text-align: center;
    margin-bottom: 15px;
}

.Gryffindor {
    background-color: darkred;
    border: solid 2px goldenrod;
    color: white;
}

.Hufflepuff {
    background-color: yellow;
    border: solid 2px black;
}

.Slytherin {
    background-color: darkgreen;
    border: solid 2px silver;
    color: white;
}

.Ravenclaw {
    background-color: blue;
    border: solid 2px silver;
    color: white;
}

.expelled {
    background-color: black;
    color: red;
}

.expelled-div {
    margin:0;
}